<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/statistics.css') }}">
</head>
<body>
    <ul>
        <li><a href="/statistics">Back</a> </li>
    </ul>
    <img src="../static/images/accuracy.png">
    <p>As you can see above, the model that is used has an extremely low false positive rate.</p>
    <p>This is beneficial as the information presented can be trusted.</p>
</body>
</html>