<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Risk Factors</title>
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/statistics.css') }}">
</head>
<body>
    <ul>
        <li><a href="/statistics">Back</a> </li>
    </ul>
    <h1>Risk Factors include:</h1>
    <p>Age</p>
    <p>Cholesterol</p>
    <p>High Blood Pressure</p>
    <p>High BMI</p>
    <p>High resting heart rate</p>
    <p>High glucose</p>
    <img src="../static/images/heat-map.png">
    <p>Here you can see that the most significant factors are high systolic blood pressure, age, and high BMI.</p>
</body>
</html>