<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trends</title>
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/statistics.css') }}">
</head>
<body>
    <ul>
        <li><a href="/statistics">Back</a> </li>
    </ul>
    <p>As can be seen below for nearly all the major risk factors when they are coupled with increased age,</p>
    <p>systolic blood pressure, or BMI the more likely a patient is to develop CHD in the next 10 years.</p>
    <img src="../static/images/pair-plot.png">

</body>
</html>